@model IEnumerable<DBrms.Models.Restaurant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

@if (Session["username"] != null)
{
    <center>
        <h4 style="color:blue; font-size:30px;"><text> Welcome Restaurant admin "@Session["username"].ToString()" </text></h4>
    </center>
}