
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@if (Session["username"] != null)
{
    <center>
        <h4 style="color:blue; font-size:30px;"><text> Welcome "@Session["username"].ToString()" </text></h4>
    </center>
}

